body {
  background: #aea79f;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
}

main.container-fluid {
    width: 80%;
    background: #363636;
    padding-left: 2rem;
    padding-right: 2rem;
}

.container-filter {
  margin: 0.5rem;
}

h1 {
  background: #db7843;
  color: inherit;
  font-size: 1.5em;
  padding: 5px;
}

.cabecera {
  margin: 1rem;
  border: 1px solid #aea79f;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem; 
}

#titulo-cabera {
  font-size: 2rem;
  background: #363636;
  margin: 5rem;
}

p {
  color: inherit;
}

label {
  font-size: 1rem;
  margin: 0;
}

.custom-select {
  border-color: #aea79f;
}

.custom-select {
    background:	#363636;
    border-color: #aea79f !important;
    color: #aea79f;
}


 /* 
 ******************************************************** 
 * ***************** FORMULARIO *************************
 ********************************************************
 */ 
.form-control:disabled, .form-control[readonly] {
    background:	#363636;
}
.form-control, .form-group {
    background:	#363636;
    border-color: #aea79f;
    color: #aea79f;
}

#form-crud {
    font-size: 1.3rem;
    margin: 1rem;
}

.valid, .invalid {
  font-size: 13px;
  font-style: italic;
  margin-left: 0.3rem;

}

.valid {
 color: green;
}

.invalid {
  color:red;
}

#gallery  {
  background: #fa782d18;
  border: 1px solid #db7843;
  padding: 0.4rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  text-align: center;

  border-right-width: 20px;
  border-left-width: 20px;
}

#gallery img {
  height: 3.2rem;
  margin: 1px;
  padding: 2px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#gallery img.selected {
    border: 3px solid #db7843;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

#gallery img:hover {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  filter:none;
  -webkit-filter:none;
}

#inputAvatar {
  display: none;
}



 /* 
 ******************************************************** 
 * ***************** TABLA CRUD *************************
 ********************************************************
 */ 
.table{
    color: #db7843;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

/* HEAD - FOOTER TABLA */
.head-tabla, .foot-tabla{
    background: #db7843;
    color: #FFFFFF;
    text-decoration: solid ;
}

.tabla-img {
  width: 2.7rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  filter:opacity(85%);
  -webkit-filter:opacity(85%);
}

/* TABLA HOVER */
.table-hover tbody tr:hover{
    color: #FFFFFF;
    background: #db7843;
}

.table td, .table th {
    vertical-align: middle;
}       



/* 
 ******************************************************** 
 * ************* BOTONES TABLA CRUD *********************
 ********************************************************
 */
.btn {
    background-color: #db7843;
    color: #ffffff;
  }
  
  .btn-lg {
    padding: 0.3rem 0.7rem;
    font-size: 1.1rem;
    color: #ffffff;
  }
  
  .btn-mod, .btn-del  {
    background: #363636;
    color: inherit;
  }
  
  .btn-new {
    color: #ffffff;
    background: #db7843; 
    margin-bottom: 1rem;
   
  }

  .btn-new:hover {
    background-color: #c76d61;
    height: 100%;
  }
  
  .btn-mod:hover {
    background-color: #7897cc;
  }
  
  .btn-del:hover {
  background-color: red;
  }


/* 
 ******************************************************** 
 * ************** TODOS LOS CURSOS **********************
 ********************************************************
 */

 .modal-content{
  background: #363636; 
  border: 1px solid #c76d61; 
 }

 .modal-header, .modal-footer {
   border: none;
 }


/* .cursos {
  color: inherit;
}
 */
.form.inline, #filtroCurso, .form-control {
  margin-right: 0 !important;
}

#basic-addon1 {
  height: 2.4rem;
}

.h2-curso {
  font-size: 2rem;
  margin: 1rem;
}

.p-curso {
  color:#aea79f; 
  text-align: justify;
  text-indent: 30px;
  line-height: 1.8;
}

.c-precio {
  color:#ffffff; 
  background: #2487bc;
  padding: 5px;
  margin-left: 3px;
}

#card-cursos {
  color: #aea79f;
  background: #363636;
  border: 1px solid #c76d61;
}

#img-all-cursos {
  width: 5.5rem;
  text-align: center;
  padding: 0.7rem;
} 

.nombre-curso-modal{
  font-size: 1.2rem;
  font-weight: 900;
}

.nombre-curso-asignado {
  color: #db7843; 
}

.nuevo-curso {
  color:#ffffff; 
  background: #db7843;
  font-size: 1.1rem;
  font-weight: 900;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 2px;
}

.curso-profesor-modal {
color: #db7843; 
font-size: 1rem;
}

.card-title {
  font-size: 1.1rem;
  color:#FFFFFF;
}

#p-card {
  text-decoration: solid;
}


/* 
 ******************************************************** 
 * ***************** MIS CURSOS *************************
 ********************************************************
 */
#mis-cursos {
  padding: 0;
}

#mis-cursos a {
  margin-right: 1rem;
  color: #FFFFFF;
}

.card-img {
  text-align: center;
  padding: 0.1rem;
} 

#mis-cursos .card-img{
  margin-left: 1rem;
}

#liCursos {
  background: #fa782d18;
  border: 1px solid #db7843;
  border-right-width: 20px;
  border-left-width: 20px;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  margin-bottom: 0.5rem;
}

#liCursos a:hover {
  background-color: #db7843;
  color: rgb(189, 90, 90);
}


/* 
 ******************************************************** 
 * ******************* FOOTER ***************************
 ********************************************************
 */ 
footer {
    background: #db7843;
    border-top: 2px solid #c76d61;
    padding: 3px;
    text-align: center;	
    margin-top: 2rem;
   /*  margin-left: -15px;
    margin-right: -15px; */
}
    
footer p {
    color: #ffffff;
    margin: 0 auto;
}
    
.redes {
    font-size:35px;
    color: #363636;
    margin-left: 5px;    
}

.redes-sociales {
  margin-right: 15px;
}
    
/* 
 ******************************************************** 
 * ********************* FIN ****************************
 ********************************************************
 */ 
