body {
    background: #2b5876;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-bottom: 3rem;
}

/* CAROUSEL */
.carousel-item img {
    height: 30rem;
    width: 100%;
}

.carousel-item p, h5 {
    background: #ccccccbb;
    color: #363636;
    font-size: 1.4rem;
}

.carousel-item h5 {
    font-size: 1.8rem;
    font-weight: 600;
}

/* CARD */
.card {
    color: #363636;

}

.card h5 {
    background: #db7843;
}