/* estilos propios */

body {
    background-color: #DDD;
}

h1{ 
    background-color: rgb(70, 70, 70);
    color: #FFF;
    padding: 10px 5px;
    font-size: 1.5em;
}

li{
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    padding: 15px;
    display: inline-block;
    
}

.card {
    margin-top: 0.3rem;    
}

.card-img-top {
    align-items: center;
    margin:0 auto;
    padding-top: 1rem;;
    width: 6rem;;
}

.card-title {
    color: rgb(243, 167, 3);
}
#id-p-card {
    color: rgb(139, 243, 3);
    margin: 10px;
    text-decoration: solid;
    font-size: 2rem;
}

main.container{
    max-width: 1024px;
    margin: auto;;
}

.container-filter{
    padding: 0.5rem;
    border: 1px solid #DDD;
}